h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
/* font-family: "Poppins", sans-serif; */
.hero {
  background-color: #f9f7fe;
  text-align: center;
}
